{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "globals": {
      "InboxSDK": true,
      "chrome": true
  },
  "rules": {
      "indent": ["error", 4]
  }
}
